footer {
  grid-area: ft;
  text-align: center;
  padding: 8px 0;
  background-color: #87ceeb;
  line-height: 0.5rem;
}

footer > p {
  color: #000000;
}

.link-img {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  margin: auto 10px;
}

.link-img:hover {
  opacity: 0.4;
}

