
body {
    background: rgb(149, 203, 136);
    background: linear-gradient( 0deg, rgb(98, 160, 86) 0%, rgb(53, 226, 10) 100% );
    margin: 0;
    font-family: 'Times', 'Times New Roman', serif;
    color: #fff;
  }
  
  /* Typeography General*/
  h1 {
    font-family: 'Snell Roundhand', cursive;
    font-size: 3em;
    margin: 2em 1rem;
  }
  
  @media only screen and (min-width: 35em) {
    h1 {
      font-size: 7em;
      margin: 2em 4rem 1em;
    }
  }
  
  .post-img {
    width: 200px;
  }
  
  figure {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
  }
  
  figcaption {
    text-align: center;
    padding: 10px 20px;
    color: #000;
  }

  blockquote {
    font-style: italic;
    line-height: 2;
    letter-spacing: 0.05em;
    padding: 10px 30px;
  }
  
  blockquote:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  h2 {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: 'FreeMono', monospace;
    font-size: 3em;
    color: #fff;
  }
  
  p {
    line-height: 1.6em;
    color: #eee;
  }
  
  /* ---- Layout Rules ---- */
  main {
    margin: 10vh 1em 10vh;
  }
  
  .main-hero {
    min-height: 40vh;
    padding-top: 3em;
  }
  
  section {
    position: relative;
    min-height: 80vh;
  }
  
  
  /* Navigation Styles*/
  .navbar_menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
  }
  
  .navbar_menu li {
    display: inline-block;
    padding-top: 15px;
  }
  
  .navbar_menu .navBar_link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .navbar_menu .navBar_link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6000;
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(78, 240, 56, 0.2);
    color: #525c65;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  li a {
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
  }
  
  a,
  a:visited,
  a:active {
    color: inherit;
  }
  
  /* Active Section */
  .active {
    background-color:#dee5e7;
    font-weight: bold;
  }
  
  /* Header Styles */
  .page_header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  /* Footer Styles */
  .page_footer {
    background: rgb(67, 236, 33);
    padding: 2em;
    color: #fff;
    text-align: center;
    line-height: 0.5rem;
  }
  
  .page_footer p {
    color: #fff;
  }
  
  .link-img {
    opacity: 0.7;
    width: 30px;
    height: 30px;
    margin: auto 10px;
  }
  
  .link-img:hover {
    opacity: 0.4;
  }

  /* ---- Theme Rules ---- */
  /* Landing Container Styles */
  .landing_container {
    padding: 1em;
    text-align: left;
  }
  
  @media only screen and (min-width: 35em) {
    .landing_container {
      max-width: 50em;
      padding: 4em;
    }

  }
  
  section:nth-of-type(even) .landing_container {
    margin-right: 0;
    margin-left: auto;
  }

  
  section.active_class {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  }
  
  section.active_class .landing_container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
  }
  
  section.active_class .landing_container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
  }
  