
body {
    background: rgb(136, 203, 171);
    background: linear-gradient( 0deg, rgb(116, 125, 127) 0%, rgb(47, 90, 84) 100% );
    margin: 0;
    font-family: 'Times', 'Times New Roman', serif;
    color: #fff;
  }
  
  /* Typeography General*/
  h1 {
    font-family: 'Snell Roundhand', cursive;
    font-size: 3em;
    margin: 2em 1rem;
  }
  
  @media only screen and (min-width: 35em) {
    h1 {
      font-size: 7em;
      margin: 2em 4rem 1em;
    }
  }
  
  blockquote {
    font-style: italic;
    line-height: 2;
    letter-spacing: 0.05em;
    padding: 10px 30px;
  }
  
  blockquote:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  h2 {
    border-bottom: 1px solid rgb(17, 204, 89);
    font-family: 'FreeMono', monospace;
    font-size: 3em;
    color: #fff;
  }
  
  p {
    line-height: 1.6em;
    color: #eee;
  }
  
  /* ---- Layout Rules ---- */
  main {
    margin: 10vh 1em 10vh;
  }
  
  .main-hero {
    min-height: 40vh;
    padding-top: 3em;
  }
  
  section {
    position: relative;
    min-height: 80vh;
  }
  
  
  /* Navigation Styles*/
  .navbar_menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
  }
  
  .navbar_menu li {
    display: inline-block;
    padding-top: 15px;
  }
  
  .navbar_menu .menu_link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .navbar_menu .menu_link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
  }
  
  #navbar_list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6000;
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
    color: #525c65;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  li a {
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
  }
  
  a,
  a:visited,
  a:active {
    color: inherit;
  }
  
  /* Active Section */
  .active {
    background-color:#dee5e7;
    font-weight: bold;
  }
  
  /* Header Styles */
  .page_header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  /* Footer Styles */
  .page_footer {
    background: rgb(58, 83, 71);
    padding: 2em;
    color: #fff;
  }
  
  .page_footer p {
    color: #fff;
  }
  
  /* ---- Theme Rules ---- */
  /* Landing Container Styles */
  .landing_container {
    padding: 1em;
    text-align: left;
  }
  
  @media only screen and (min-width: 35em) {
    .landing_container {
      max-width: 50em;
      padding: 4em;
    }

  }
  
  section:nth-of-type(even) .landing_container {
    margin-right: 0;
    margin-left: auto;
  }
/*   
  section:nth-of-type(odd) .landing_container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }
  
  section:nth-of-type(even) .landing_container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }
  
  section:nth-of-type(3n) .landing_container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }
  
  section:nth-of-type(3n + 1) .landing_container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  } */
  
  section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  }
  
  section.your-active-class .landing_container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
  }
  
  section.your-active-class .landing_container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
  }
  