<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Udacity App</title>
    
</head>

<body>
<div id="header">
    <h2>Travel App</h2>
</div>
<div class="box">
  <div id="form">
    <label for="Destination">Destination</label>
    <input type="text" id="destination" name="Destination" placeholder="City/Country Name...">

    <label for="departure_date">Departure Date</label>
    <input type="date" id="departure_date" name="departure_date" >

    <label for="return_date">Return Date</label>
    <input type="date" id="return_date" name="return_date" >

    <button type="button" value="Submit" id="submit-Trip">here we Go</button>
  </div>
</div>

<div class="container">
    <div class="row trip_list">

    </div>

</div>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
        navigator.serviceWorker.register('./service-worker.js');
        });
    }
</script>

</body>
</html>